.about-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 85%;
    padding: 0 70px 0 0;
}

.about-container .img-side img {
    width: 100%;
}

.about-container .img-side {
    /* border: 1px solid black; */
    flex: 1;
}

.about-container .text-side {
    /* border: 1px solid black; */
    flex: 1;
    /* margin: 0 100px 0 0; */
}
.about-container .text-side p {
    width: 400px;
    text-align: justify;
    margin-top: 40px;
}

.learn-btn {
    background-color: #E07367;
    color: white;
    border-color: #E07367;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
}