.settings-container {
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 20px 10px;
}

.settings-container h2 {
    border: 1px solid black;
    border-radius: 10px;
    /* width: 300px; */
    padding: 10px;
    background-color: #dedbdb;
    border-color: #dedbdb;
    color: black;
}

.sidebar {
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
    /* background-color: black; */
    color: whitesmoke;
    border-radius: 10px;
    padding-top: 20px;
}

.log-out-btn {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    /* background-color: black; */
    color: white;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 20px;
}

.log-out-btn:hover {
    background-color: white;
    color: black;
}

.rst-btn {
    color: #fff;
    background-color: #1981A7;
    border-color: #1981A7;
}

.rst-btn:hover {
    background-color: white;
    border-color: #1981A7;
    color: #1981A7;
}

.rst-btn:disabled {
    background-color: lightgray;
    border-color: lightgray;
    color: #1981A7;
}
.settings-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 1px solid black; */
    text-align: center;
}

.settings-avatar img {
    width: 100%;
    
}

h5 {
    margin: 20px 0;
}

.editting {
    width: 40px;
    border-radius: 10px;
    background-color: white;
}
