.profile-container {
    /* border: 1px solid black; */
    /* width: 85%; */
    margin: 50px auto;

}

.profile-header {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;

}


.profile-avatar-container h3 {
    color: #3B6372;
}

.bio-container {
    border: 1px solid lightgray;
    width: 90%;
    /* height: 200px; */
    margin: 20px auto;
    padding: 15px 10px;
    /* box-shadow: 3px -3px 1px #3B6372; */
    border-radius: 10px;
    color: black;
    background-color: #dedbdb;


}

.avatar {
    width: 170px;
    height: 170px;
}

.profile-avatar-container {
    /* border: 1px solid green; */
    width: 200px;
    margin: -130px auto 20px;
    padding: 10px;
}

.bio {
    font-size: 18px;
    text-align: center;

}
.bio-row {
    /* border: 1px solid green; */
    margin: 0 auto 65px;
    width: 75%;
    text-align: center;
}

.location {
    font-size: 22px;
    color: black;
    font-weight: 500;
    padding-left: 5px;
}

.social-icons a {
    font-size: 24px;
    text-decoration: none;
    color: black
}
.social-icons {
    padding: 5px;
}
.profile-body {
   
    /* border: 1px solid black; */
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.user-current-progress {
    flex: 1;
    padding: 20px 0 0 0;

}
.current-progress {
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #82BCBA;
}


.user-current-progress h5 {
    text-align: center;
    color:  whitesmoke;
    background-color: #82BCBA;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid #9ba5a8;
    width: 200px;
    padding: 10px;
    margin: 20px auto 30px;
    box-shadow: 3px 3px 3px grey;
}
.user-tasks-container {

    /* border: 1px solid blue; */
    padding: 20px;
    flex: 2

}

.uploaded-tasks-container {
    /* border: 1px solid red; */
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-layout {
    border: 1px solid lightgray;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    box-shadow: 3px 3px 1px #3A7C84;;
    border-radius: 10px;
}

.overlay {
    background-color: white;
    color: white;
    position: absolute;
    top: -30px;
    opacity: 1;
    height: 10%;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: black;
}

.task-title {
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    margin: 20px auto;
}
.card-top {
    height: 86%;
    border: none;
}
.active {
    visibility: visible;
    opacity: .8;
    background-color: black;
    height: 81%;
    padding: 10px 10px 20px 10px;
    top:0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.card-layout img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-bottom {
    /* border: 1px solid black; */
    /* z-index: 10; */
    background-color: white;
    opacity: 1;
    color: black;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: lightgray;

}

.upload-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: lightgray;
    color: white;
    background-color:#3A7C84;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    line-height: 20px;
    margin: 5px 0;
    border: 1px solid lightgray;

}

.add-task {
    font-size: 18px;
    font-weight: 900;
    /* box-shadow: 3px 3px 3px lightgray; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    color: #3A7C84;
    cursor: pointer;

}

.add-task:hover {
    border-color: lightgray;
    color: #7CA9B4;
}
.upload-btn:hover {
    background-color: white;
    color: #3A7C84;
    width: 60px;
    height: 60px;
    border: 5px solid #3A7C84;
    transition: all 0.3 ease-in-out;
}

.upload-btn:focus {
    outline: none;
    border: none;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #3A7C84 !important;

}

.ant-tabs-tab-btn:focus {
    color: #2B687E !important;

}

.ant-tabs-tab:hover {
    color: #3A7C84 !important;

}

.ant-steps-item-process .ant-steps-item-icon { 
    background: #1981A7 !important; 
    border-color: #1981A7 !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    background: #82BCBA !important;
    border-color: #82BCBA !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: #CFD6D8 !important;
}

.ant-steps-item-finish .ant-steps-item-icon svg {
    fill: white
}

.ant-steps-item-wait .ant-steps-item-icon {
    background: #CFD6D8 !important;
    border-color: #CFD6D8 !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #9ba5a8 !important;
    font-weight: bolder !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    color:  #82BCBA !important;
    font-weight: 500;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #9ba5a8 !important;
    font-weight: bolder !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    color: #1981A7 !important; 
    font-weight: 500;

}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #9ba5a8 !important;
    font-weight: bolder !important;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    color: #9ba5a8 !important;
    font-weight: 500 !important;
}