.navbar {
    display: flex;
    background-color: #3a7c84;
    color: #ffffff;
    font-family: Helvetica Neue;
    font-size: 20px;
    padding: 0 0;
    height: 110px;
    width: 100%;
  }
  .link-title {
    color: #ffff;
    padding-right: 40px;
    padding-top: 5px;
  }
  .formControl {
    padding-left: 70;
  }
  .mr-auto {
    padding-left: 12%;
  }
  
  .navbar-button {
    width: 130px;
    height: 50px;
    background-color: #3a7c84;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  }
  .navbar-button:hover {
    /* background-color: rgba(58, 124, 132,0.3); */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #7ca9b4;
  }
  
  @media screen and (max-width: 990px) and (min-width: 300px) {
    .mr-auto {
      padding-left: 0;
    }
    .navbar {
      height: inherit;
    }
  
    .formControl {
      padding-left: 0;
      padding-top: 6px;
      padding-bottom: 8px;
    }
  
    .navbar-button {
      padding-bottom: 6px;
    }
  }
  
  @media screen and (max-width: 1192px) and (min-width: 992px) {
    .link-title {
      padding-right: 20px;
    }
  }
  
  @media screen and (max-width: 575px) {
      .formControl{
          width: 200px;
      }
  }
  