.navbar{
    display: flex;
    background-color: #3A7C84;
    color: #FFFFFF;
    font-family: Helvetica Neue;
    font-size: 20px;
    padding: 0 0 ;
    /* margin-top: -80px;
    height: 152px; */
    height: 110px;
}

.nav-anchors a {
    padding: 10px;
    color:#fff;
}
.navbar-search{
    border-radius: 25px;
    outline: none;
    border-color: #3A7C84;
    width: 250px;
    height: 40px;
    padding: 8px;
}
.navbar-button{
    width: 130px;
    height: 50px;
    background-color: #3A7C84;
    border: 2px solid #FFFFFF ;
    color: #FFFFFF ;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.navbar-button:hover {
    /* background-color: rgba(58, 124, 132,0.3); */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
     background-color: #7CA9B4; 
}
.searchIcon {
    padding: 12px; 
    font-size: 35px;
    color: #fff;
}

.profile-list {
    background-color: #3A7C84;
    border: none;
}

.img-profile{
    width: 20px;
    border-radius: 5px;
    margin-top: -3px;
}
